@import "../../breakpoints/breakpoints.scss";
@import "../../container/container.scss";

$primary-color: #01a78e;
$secondary-color: #28e3d0;
$paragraph-color: #4c4c4c;

.allInformation{
    width: 100%;
    height: 80%;
    padding-top: 100px;
    @include desktop-container;
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
    ". . . . title title title title title . . . . ."
    ". . . . subTitle subTitle subTitle subTitle subTitle . . . . ."
    ". . . . . logo . . . . . . . .";
}

.container{
    width: 100%;
    height: 788px;
    background-color: #01A78E;
    position: relative;
    top: -76px;
    
}

.container h1{
    color: white;
}

.container p{
    color: white;
}

.logo{
    grid-area: logo;
}

.subTitle{
    grid-area: subTitle;
    text-align: center;
}

.title{
    grid-area:title ;
    text-align: center;
}