@mixin desktop-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 122px 122px 122px 122px 122px 122px 122px 122px 122px 122px 122px 122px 1fr;
    column-gap: 16px;
}

@mixin tablet-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 200px 1fr;
    column-gap: 10px;
}

@mixin phone-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 25px 78px 78px 78px 78px 1fr;
    column-gap: 10px;
}